.git
.gitignore
*.md
README*
.gradle
.java-version
.vscode
.DS_Store
target/
build/
.env.local
.env.*.local
*.log
*.class
.classpath
.project
.settings/
bin/
!bin/wait-for-it.sh
out/
*.jar
*.war
node_modules/
.github
.idea
*.iml
*.swp
*.swo
*~
.DS_Store
Thumbs.db
